body{
    background-color: blueviolet;
}

h1{
    background-color: black;
    color: aquamarine;
}


p{
    text-align: right;
    color: red;
    font-size: 40px;
    background-color: blue;
}